$border-radius: 16px;
$margin-default: 35px;
$padding-page: 40px;
/**
 *	Layout
*/
$width-navbar: 81px;

/**
* Media queries
*/
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;
