@use "src/styles/theme.scss" as *;

.page-home {
	height: 100%;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;

	.container-image {
		display: flex;
		justify-content: center;
		img {
			border-radius: $border-radius;
			max-width: 500px;
			width: 100%;
			height: auto;
		}
	}
}
